<div class="d-flex align-items-center justify-content-center"
     style="height: 180px; background-size: cover; background-position: center;
            background-image:
              linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://miro.medium.com/v2/resize:fit:1400/1*9s5sQTSXZ763T6Y07OzXeA.png');">
  <h1 style="font-family: 'Arial Black', Gadget, sans-serif; color: white; font-weight: 900; font-size: 3rem;">
    PowerUp your Profits
  </h1>
</div>

<div style="background-color: #f8f9fa; display: flex; justify-content: center; align-items: center; padding: 20px; margin-top: 50px; margin-bottom: 100px;">
  <div style="max-width: 400px; width: 100%; background: white; padding: 2rem; border-radius: 1rem; box-shadow: 0 0 15px rgba(0,0,0,0.1);">
    <%= simple_form_for @powerUp do |f| %>
      <div style="margin-bottom: 1rem">
        <%= f.input :product_name, input_html: { class: "form-control" , placeholder: "Product name..." }, label_html: { class: "form-label fw-semibold" } %>
        <%= f.input :price, input_html: { class: "form-control", placeholder: "Product price..." }, label_html: { class: "form-label fw-semibold" } %>
        <%= f.input :description, input_html: { class: "form-control border-radius", placeholder: "Product description..." }, label_html: { class: "form-label fw-semibold" } %>
        <%= f.input :category, collection: @categories, prompt: "Select category",
                    input_html: { class: "form-select border-radius-circle" }, label_html: { class: "form-label fw-semibold" } %>
        <%= f.input :stock_quantity, input_html: { class: "form-control", placeholder: "Product stock quantity..." }, label_html: { class: "form-label fw-semibold" } %>
        <%= f.input :image_url, label: "Upload image", input_html: { class: "form-control", placeholder: "Image URL..." }, label_html: { class: "form-label fw-semibold" } %>
      </div>

      <div style="text-align: center; padding-top: 1rem">
        <%= f.submit "List to Marketplace", class: "btn btn-lg w-100 rounded-pill",
                     style: "background-color: #ff6600; border-color: #ff6600; color: white; font-size: 17px; font-weight: 700;" %>
      </div>
    <% end %>
  </div>
</div>
