<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<% @orders.each do |order| %>
  <div class="order">
    <h2>Order ID: <%= order.id %></h2>

    <p><strong>Product:</strong> <%= order.power_up.product_name %></p>
    <p><strong>Description:</strong> <%= order.power_up.description %></p>
    <p><strong>Category:</strong> <%= order.power_up.category %></p>
    <p><strong>Quantity:</strong> <%= order.quantity %></p>
    <p><strong>Total Price:</strong> £<%= order.total_price %></p>
    <p><strong>Created at:</strong> <%= order.created_at.strftime("%B %d, %Y") %></p>
    <p><strong>Accepted:</strong> <%= order.accepted? ? "Yes" : "No" %></p>
  </div>
<% end %>
