<div class="container">
  <h1 class="text-primary text-center">My Orders</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <% @orders.each do |order| %>
      <div class="col">
        <%= link_to power_up_path(order.power_up), class: "text-decoration-none text-dark" do %>
          <div class="card h-100 rounded-4 shadow">
            <div class="ratio ratio-1x1 rounded-top-4 overflow-hidden">
              <%= image_tag order.power_up.image_url, alt: "image", class: "w-100 h-100 object-fit-cover" %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong><%= order.power_up.product_name %></strong></h5>
              <p class="card-text">£ <%= order.power_up.price %></p>
            </div>
            <div class="card-footer bg-white border-top-0 rounded-bottom-4 d-flex align-items-center gap-2">
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/2143/2143150.png", alt: "tick icon", style: "width:16px; height:16px;" %>
              <span class="text-success fw-bold">Purchased</span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center mt-5">
  <%= link_to root_path, class: "btn btn-outline-success" do %>
    <span>
      <i class="fa-solid fa-backward"></i> to home
    </span>
  <% end %>
</div>
