<div class="position-relative mb-4" style="max-height: 500px; overflow: hidden;">
  <%= image_tag "https://media3.giphy.com/media/l44QzsOLXxcrigdgI/200w.gif?cid=6c09b952y2jeeyu3oekyvxdlpgq3pwt1azi2zeufjsedz258&ep=v1_gifs_search&rid=200w.gif&ct=g",
      alt: "Hero Image",
      class: "img-fluid w-100",
      style: "max-height: 500px; object-fit: cover;" %>

  <div class="position-absolute top-50 start-50 translate-middle text-center text-white" style="text-shadow: 4px 4px 9px rgba(0,0,0,0.8);">
    <h1 style="font-family: 'Arial Black', Gadget, sans-serif; font-weight: 900; font-size: 3rem;"> where powers meet heroes. </h1> <br>
<button type="button" class="btn btn-secondary btn-lg btn-block">Sell Now</button>
  </div>
</div>



<h1 class="text-secondary mt-4 text-center">Featured PowerUps</h1>

<div class="container mb-5">
  <div class="d-flex justify-content-center flex-wrap gap-4">
    <% @random_powerups.each do |powerup| %>
      <%= link_to power_up_path(powerup) do %>
        <div class="card" style="width: 200px;">
          <%= image_tag powerup.image_url, alt: powerup.product_name, class: "card-img-top", style: "height: 150px; object-fit: cover;" %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= powerup.product_name %></h5>
            <p class="card-text">£<%= powerup.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
