<nav class="navbar">
  <ul class="d-flex justify-content-start no-bullet-points w-100">
    <li class="ps-3">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "Logo", style: "height: 35px; padding-top: 5px" %>
      <% end %>
    </li>
    <li class="ps-3 pt-1">
      <%= form_with url: power_ups_path, method: :get, local: true, class: "search-bar d-flex align-items-center" do %>
        <%= text_field_tag :query, params[:query], placeholder: "🔎 Search...", class: "form-control navbar-search me-2", style: "height: 35px; font-size: 14px; border-radius: 45px; margin-top: -2px" %>
      <% end %>
    </li>
    <li class="pt-2 ps-3"><%= link_to "Shop", power_ups_path, class: "text-style" %></li>

    <% if user_signed_in? %>
      <li class="pt-2 ps-3"><%= link_to "Sell", new_power_up_path, class: "text-style" %></li>
      <li class="pt-2 pe-3 text-align dropdown w-100" style="position: relative;">
        <button class="dropdown-toggle ps-4 text-style" style="background:none;border:none;cursor:pointer;">Account</button>
        <ul class="navbar-dropdown flex-column no-bullet-points" style="display: none; position: absolute; right: 0; background: #000; box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);">
          <li class="pt-2 text-start"><%= link_to "Purchases", orders_path, class: "text-style" %></li>
          <li class="pt-2 text-start"><%= link_to "Selling", listings_path, class: "text-style" %></li>
          <li class="pt-2 text-start text-style"><%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", class: "text-style", data: { turbo_method: :delete } %></li>
        </ul>
      </li>
    <% else %>
      <div class="pe-3 pt-2 p-1 w-100 text-align">
        <li><%= link_to "Log In", new_user_session_path, class:"text-style" %></li>
      </div>
    <% end %>
  </ul>
</nav>
